#tryOut{
     background-image: url("../images/pizza13.jpg"); 
     background-size: cover;
     background-repeat: no-repeat;
     color: white;
     justify-content: center;
     height: 900px;
}
#order{
    padding-top: 50px;
    font-family: 'Dancing Script';
    font-size: 50px;
    margin-top: 200px;
    margin-bottom: 50px;
}
.container1{
    margin: 0px;
    background-color: red;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    max-width: none;
    width: 900px;
    
}
#img0{
    height: 500px;
    width: 750px;
    margin-bottom: 30px;
    margin-top: 10px;

}

#welcome{
    display: none; 
    font-family: 'Dancing Script';
    justify-content: center;
    align-items: center;
    padding-top: 250px;    

}
#button{
    border-radius: 50px;
    height: 50px;
    width: 250px;
    color: black;
    background-color: transparent;
}
#strip{
    background-color: crimson;
    height: 50px;
    border-radius: 10px;
    
}
#strip.only-bottom-rounded{
    border-radius: 12px;
}
#scroll{
    font-size: 24px;
    padding-top: 18px;
    font-family: 'Dancing Script';
}

#navbar{
    font-size: 24px;
    background-size: cover;
    color: red;
    background-image: url("../images/bg_4.jpg");
    display: inline-block;
    list-style: none;
    width: 100%;
    height: 125px;
}

#navbar li{
    display: inline-block;
    justify-content: center;
    float:right;
    padding-top: 20px;
    margin-right: 100px;
    
}
#loc:hover{
    text-decoration: underline;
}
#logo{
    height: 110px;
    width: 110px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#img1{
    
    width: 100%;
    height: 100%;
    margin-bottom: 45px;
}
table{
    font-size: 124px;
    color: white;
    font-family: 'Dancing Script';
}
th{
    height: 30px;
    font-size: 94px;
    width: 50px;
}
h2{
    color: red;
    font-family: 'Dancing Script';
    margin-top: 20px;
}
#img2{
    
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    
}
#img3{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}
#img5{
    width: 100%;
    margin-bottom: 15px;
}
#img6{
   width: 100%;
   margin-bottom: 15px;
}
#img7{
   width: 100%;
   margin-bottom: 15px;
}
#img8{
    padding-right: 1100px;
    padding-top: 60px;
    margin-left: 30px;
    
}
#img9{
    height: 70px;
    height: 70px;
    margin-top: 50px;
   
}
#img10{
    height: 70px;
    width: 70px;
    margin-top: 50px;
}
#img11{
    height: 70px;
    width: 70px;
    margin-top: 50px;
    margin-left: 40px;
}



.row0{
    margin-bottom: 20px;
}
.row1{
    background-image: url("../images/bg_4.jpg");
    margin-bottom: 5px;
    font-family: 'Dancing Script';
}
.row2{
    background-image: url("../images/bg_4.jpg");
    margin-bottom: 5px;
}
.row22{
    margin-bottom: 5px;
}

.row3{
    background-image: url("../images/bg_4.jpg");
    margin-bottom: 5px;
}
.row4{
    background-image: url("../images/bg_4.jpg");
    margin-bottom: 5px;
}
.row5{
    background-image: url("../images/bg_4.jpg");
    margin-bottom: 15px;
}
.row6{
    background-image: url("../images/bg_4.jpg");
    margin-bottom: 5px;
}
.row7{
    margin-bottom: 5px;
}
#word{
    font-size: 44px;
    font-family: 'Dancing Script';
}
 #butt{
    margin-top: 30px;
    margin-bottom: 50px;
} 
#table1{
    padding-left: 30px;
}
td{
    cursor: pointer;
  }
td:hover{
    text-decoration: underline;
    color: red;
  }
h3{
      background-color: black;
      color: red;
      font-style: 'Dancing Script';
  }
#para{
    list-style: none ;
}

#about{
    color: white;
    font-family: 'Dancing Script';
}
.row0{
    height: 300px;
    margin-bottom: 20px;
}
.col1{
    height: 500px;
    font-family: 'Dancing Script';
    background-color: black;
    color: white;
    margin-top: 10px;
    font-size: 22px;
    margin-left: 0px;
}
.col2{
    height: 500px;
    font-family: 'Dancing Script';
    background-image: url("../images/bg_4.jpg");
    color: white;
    margin-top: 10px;
    font-size: 22px;
    margin-left: 0px;
}
.container0{
    margin-left: 0%;
    margin-right: 0%;
}
footer{
    background-image: url("../images/bg_4.jpg");
    height: 300px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
#loc{
    font-family: 'Dancing Script';
    font-size: 34px;
    color: white;
    margin-right: 450px;
   
}
#mail{
    font-family: 'Dancing Script';
    color: white;
    font-size: 34px;
    margin-right: 0px;
}
.row8{
    margin-left: 250px;
    margin-right: 250px;
    
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid red;
    color: white;
}
.hidden{
    display: none;
}
form{
    color: white;
}
#tweets{
    font-family: 'Dancing Script';
    color: white;
    margin-top:5px;
    margin-left: 40px;
}
#order2{
    margin-top: 60px;
    font-family: 'Dancing Script';
    font-size: 50px;
    margin-bottom:60px;
}
#cart{
    height: 100px;
    width: 100px;
    
}
#butt{
    background-color: red;
    font-family: 'Dancing Script';
}